.body {
    text-align: center;
    padding: 250px;
    font-family: Arial;
    background-color: gray;
}

form {
    display: inline-block;
    text-align: center;
    padding: 50px;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.user {
    margin: 7px;
    padding: 5px;
}
.pass {
    margin: 7px;
    padding: 5px;
}
.service {
    text-decoration-color: black;
    color: black;
}
.label {
}
.Loginbutton {
    margin-top: 10px;
}
